body{
    margin:0;
    padding:0;
    font-family: "Roboto" ,sans-serif;
    background-color: #7f8396;

}
header{
    position: fixed;
    background:#3353FF;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.left-area h3{
    color: #fff;
    margin:0;
    text-transform:uppercase;
    font-weight:900;
}
.logout_btn{
    padding:5px;
    background:#3353FF;
    text-decoration:none;
    float:right;
    margin-top:-30px;
    margin-right:40px;
    border-radius:2px;
    font-size:15px;
    font-weight:600;
    color:#fff;
    transition:0.5s;
    transition-property: background;

}
.logout_btn:hover{
    background:#0094ff

}
 .sidebar{
    background:#3353FF;
    margin-top: 70px;
    padding-top:30px;
    position:fixed;
    left:0;
    width:250px;
    height:100%;

}
.sidebar .Profile_image{
     height: 100px;
     width: 100px;
     border-radius:10px;
     margin-bottom:10px;
 }
 .sidebar h4{
     color:#ccc;
     margin-top:0;
     margin-bottom:20px;
 }
 .sidebar a{
     color:#fff;
     display:block;
     width:100%;
     line-height:60px;
     text-decoration:none;
     padding-left:40px;
     box-sizing:border-box;

   }
 .sidebar a:hover{
     background: #ccc
 }
 .gwd-label-1is2{
     position: absolute;
     border: 1px solid #c7e9c6;
     border-radius: 4px;
     color: #3c763c;
     /* background-color: #d8f0da; */
     background:linear-gradient(to right,#ff105f,#ffad06);
     width: 100px;
     height: 20px;
     left: 81%;
     top: 32%;
}
.gwd-label-1is2:hover{
    background-color: #69d870;
}
.gwd-label-18fd {
    position: absolute;
    border: 1px solid #e9c6c6;
    border-radius: 4px;
    color: #763c3c;
    background-color: #f0d8d8;
    width: 100px;
    height: 20px;
    left: 91%;
    top: 32%;
}
.gwd-label-18fd:hover{
    background-color: #eb8c8c;
}
.gwd-p-hk4a{
    position: absolute;
    padding: 15px;
    border: 1px solid #c6d6e9;
    border-radius: 4px;
    color: #3c5076;
    /* background-color: #d8eef0; */
    background-color: #41544E;
    /* background:linear-gradient(to right,#ff105f,#ffad06); */
    top: 15%;
    width: 17%;
    height: 8%;
    left: 80%;
}
.gwd-p-hk4a:hover{
    background-color: #8ceaf3;
}
.gwd-div-ij54s{
    visibility: hidden;
}



/* for student course */
